@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bebas {
    font-family: "Bebas Neue", sans-serif;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: "Outfit", "sans-serif";
    line-height: 1;
    scroll-behavior: smooth;
  }

  .aboutConfig {
    h2 {
      display: none;
    }
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  /** Prevent scroll when modal is open */

  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .modalOverlayOpened {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  @keyframes slide-left-frame {
    0% {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-right-frame {
    0% {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-bottom-frame {
    0% {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

  .animate-slide-left {
    animation: slide-left-frame 0.4s ease normal;
  }

  .animate-slide-right {
    animation: slide-right-frame 0.4s ease normal;
  }

  .animate-slide-bottom {
    animation: slide-bottom-frame 0.4s ease normal;
  }

  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent #fff transparent;
    transform: rotate(180deg);
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

.contentTextSeo h1 {
  /* pt em rem?*/
  font-size: 1.75rem;  
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}

.contentTextSeo h2 {
  font-size: 1.5rem;  
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentTextSeo h3 {
  font-size: 1.25rem;  
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentTextSeo p {
  font-size: 1rem;  
  line-height: 1.2;
  margin-bottom: 15px;
}

.contentTextSeo strong {
  font-weight: bold;
}

.contentTextSeo a {
  color: #1ab6ff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.contentTextSeo a:hover {
  text-decoration: underline;
}

.contentTextSeo ul,
ol {
  margin-bottom: 15px;
  padding-left: 20px;
}

.contentTextSeo ul li {
  list-style-type: disc;
}
.contentTextSeo hr {
  border: 0;
  margin: 10px 0;
}