@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Neue";
  src: url("./static/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  .bebas {
    font-family: "Bebas Neue", sans-serif;
  }
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    line-height: 1;
  }

  .aboutConfig {
    h2 {
      display: none;
    }
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  /** Prevent scroll when modal is open */

  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .modalOverlayOpened {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
  }
}

@layer utilities {
  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  @keyframes slide-left-frame {
    0% {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-right-frame {
    0% {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-bottom-frame {
    0% {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

  .animate-slide-left {
    animation: slide-left-frame 0.4s ease normal;
  }

  .animate-slide-right {
    animation: slide-right-frame 0.4s ease normal;
  }

  .animate-slide-bottom {
    animation: slide-bottom-frame 0.4s ease normal;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}
